html {
    font-family: Verdana, Arial, Helvetica, "Droid sans", sans-serif;
    font-size: 100%;  /* flexible baseline */
    /* 
    * rem is set relative to the font size of the root element, the html, instead of
    * the body, and this is where the r in rem comes from, as rem stands for “root em“.
    * The default browser font size is 16px.
    */
    line-height: 3.5;
    background-color: #fff;
    color: #000;
}

/* Typography */
h1 {
    font-size: 1.75rem; /* =28px */
    letter-spacing: 0.05em;

}

h2 {
    font-size: 1.25rem;  /* =20px */
}

/* REM calculator https://offroadcode.com/prototypes/rem-calculator/ */

/* Containers */
.container {
    margin: 0 auto;
    max-width: 46rem;
    width: 90%;
}

/* Avoid ID's. Use Classes sparingly. Avoid creating <div> just to apply a style if you can. */

header {
    background-color: #;
    padding: ; /* Adjust as required. */
}

nav {
    padding: ;
}

main {
    padding: ;
}

footer {
    padding: ;
    background-color: #;
}

/* Navigation */

nav li {
    list-style: none;
    display: inline;
    padding: ;
    margin-left: 0;
    /* Adjust all above as required. */
}


/* Media */

img {
    max-width: 100%;
    height: auto;
/*  margin: 0 auto;               Centring an image. */
}


/* Links - General */
a { 
    text-decoration: ;
    color:# ;
}
a:visited {
    color:# ;
}
a:hover {
    text-decoration:underline;
    color:# ;
}
a:focus {
    outline:thick dotted;
    color:# ;
}

/* Links - Navigation - if the background colour for your navigation is different to the body of text, the link colours may also need to change to maintain a good contrast. */
nav a { 
        color:# ;
}

nav a:visited {
    color:# ;
}

/**
 * Created with advice and support from @csswizardry and @craftedpixelz 
 */